<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form id="idForm">
			<p:toolbar id="toll">
				<p:toolbarGroup align="left">
					
					<p:commandButton value="atualizar" 
					actionListener="#{alunoListMB.atualizaGrid}" 
					 update="list" />
					
					<p:commandButton title="#{messages['button.new']}" icon="ui-icon-document" action="#{alunoListMB.getNextView}"
						actionListener="#{alunoListMB.clear}" ajax="false" />

					<p:commandButton title="#{messages['button.delete']}" icon="ui-icon-trash" onclick="confirmation.show()"
						type="button" immediate="true" ajax="false" />

					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.alert']}!" severity="alert" widgetVar="confirmation">

						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{alunoListMB.deleteSelection}"
							actionListener="#{alunoListMB.clear}" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="list" var="aluno" value="#{alunoListMB.resultList}" emptyMessage="nao tem nada" >

				<f:facet name="header">#{messages['aluno.list.table.title']}</f:facet>

				<p:column style="width:5%;" >
					<h:selectBooleanCheckbox value="#{alunoListMB.selection[aluno.id]}" />
				</p:column>

				<p:column style="width:5%;" sortBy="#{aluno.id}">
					<f:facet name="header">#{messages['bookmark.label.id']}</f:facet>
					<h:outputText value="#{aluno.id}" />
				</p:column>

				<p:column sortBy="#{aluno.nome}">
					<f:facet name="header">#{messages['label.nome']}</f:facet>
					<h:commandLink action="#{alunoListMB.getNextView}" actionListener="#{alunoListMB.clear}">
						<h:outputText value="#{aluno.nome}" />
						<f:param name="id" value="#{aluno.id}" />
					</h:commandLink>
				</p:column>

				<p:column sortBy="#{aluno.nascimento}">
					<f:facet name="header">#{messages['label.nascimento']}</f:facet>
					<h:outputText value="#{aluno.nascimento}" >
						<f:convertDateTime pattern="dd/MM/yyy"/>
					</h:outputText>
				</p:column>
				
				<p:column>
					<f:facet name="header">#{messages['label.telefone']}</f:facet>
					<h:outputText value="#{aluno.telefone}" />
				</p:column>
				
			</p:dataTable>
			
		</h:form>
	</ui:define>
</ui:composition>