<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form prependId="false">
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton value="#{messages['button.save']}" action="#{alunoEditMB.insert}"
						rendered="#{!alunoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.save']}" action="#{alunoEditMB.update}"
						rendered="#{alunoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.delete']}" onclick="confirmation.show()"
						rendered="#{alunoEditMB.updateMode}" type="button" immediate="true" ajax="false" />
					
					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.delete']}" severity="alert" widgetVar="confirmation">
						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{alunoEditMB.delete}" immediate="true"
							ajax="false" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>

			<br />

			<p:fieldset legend="#{messages['bookmark.label']}" toggleable="true" toggleSpeed="500">
				<h:panelGrid id="fields" columns="3">
					<h:outputLabel value="#{messages['bookmark.label.id']}: 
					" for="id" styleClass="text-input" rendered="#{alunoEditMB.updateMode}" />
					<h:outputText id="id" value="#{alunoEditMB.bean.id}" rendered="#{alunoEditMB.updateMode}"/>
					<p:message for="id" rendered="#{alunoEditMB.updateMode}" />
					
					<h:outputLabel value="#{messages['label.nome']}: " for="nome" styleClass="text-input" />
					<p:inputText id="nome" value="#{alunoEditMB.bean.nome}"
						title="#{messages['label.nome']}"  />
					<p:message for="nome" />
					
					<h:outputLabel value="#{messages['label.nascimento']}: " for="nascimento" styleClass="text-input" />
					<p:calendar  id="nascimento" value="#{alunoEditMB.bean.nascimento}" title="#{messages['label.nascimento']}" />
					<p:message for="nascimento" />
					
					<h:outputLabel value="#{messages['label.telefone']}: " for="telefone" styleClass="text-input" />
					<p:inputMask  id="telefone" value="#{alunoEditMB.bean.telefone}" mask="(99)9999-9999"/>
					<p:message for="telefone" />
					
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

	
	
</ui:composition>